/* styles/App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Aplica la fuente de Google */
  font-size: 15px; /* Tamaño de fuente */
  line-height: 1.6; /* Espaciado de línea adecuado para mejor legibilidad */
  color: #333; /* Color del texto */
  background-color: #f4f4f4; /* Fondo claro para un buen contraste */
  margin: 0;
  padding: 20px; /* Espacio alrededor del contenido */
  margin-top: 60px; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Hace que los encabezados sean más gruesos */
  color: #222; /* Color más oscuro para los encabezados */
}

p {
  margin-bottom: 15px; 
}